html,
body,

#viewDiv{
    padding:0;
    margin:0;
    height:90%;
    width:100%;
    font-family:Arial, Helvetica, sans-serif;
}

navbar {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: 500;
    border: 10px;
    background-color: white;
}

.navUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkblue;
}

.navbar li {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content li a:link {
    text-decoration: none;
    color: black;
}

.dropdown-content li a:visited {
    text-decoration: none;
    color: black;
}

.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
/*
#callBoxBtn {
    font-size:16px;
    background-color:inherit;
    color: black;
    padding:0;
    text-decoration: none;
    display:block;
    outline:none;
    border:none;
    text-align: left;
}*/

.dropbtn:hover {
    background-color: slategrey;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content li:hover {
    background-color: #ddd;
}

.dropdown-content button {
    font-size:16px;
    background-color:inherit;
    color: black;
    padding:0;
    text-decoration: none;
    display:block;
    outline:none;
    border:none;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#hideLayers{
    float: right;
    font-size: 16px;
    display: block;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

#hideLayers:hover{
    background-color: slategrey;
    cursor: context-menu;
}
